body { 
    background-color: gainsboro;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    margin-top: 15px;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 10px;
}

#data-container {
    margin: auto 60px;
}

#specific_forms {
    margin-bottom: 10px;
    text-align: center;
}

#grille {
    outline: black 2px solid;
    margin: auto;
}

fieldset {
    margin: 20px;
    padding: 15px;
}

#statistiques > output {
    margin-top: 5px;
    margin-left: 20px;
}

#controls {
    margin: 20px auto;
}

#controls > button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    margin: 0 10px;
}

/* Liste des formes spécifiques qui s'affiche au dessus de la page */

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4); /* Couleur de fond du reste de la page */
    font-family: Arial, Helvetica, sans-serif;
}
  
#forms_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 60em;
    max-height: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.3s;
    overflow: auto;
}
  
#close_list {
    position: absolute;
    top: 5px;
    right: 35px;
    color: rgb(61, 61, 61);
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
}
  
#close_list:hover,
#close_list:focus {
    color: #993838;
    text-decoration: none;
    cursor: pointer;
}

#forms_table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid rgb(200, 200, 200);
}

#forms_table thead {
    background-color: #2d88af;
    color: #fff;
    font-size: 1.1rem;
}

#forms_table td, #forms_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#forms_table tbody tr:nth-child(even){background-color: #f2f2f2;}

#forms_table tbody tr:hover {background-color: #ddd;}


/* On définit l'animation voulue pour l'apparition de la liste des formes */
@keyframes 
animatetop {
    from {
        top: -300px; 
        opacity: 0
    }
    to {
        top: 0; 
        opacity: 1
    }
}