body { 
    background-color: bisque;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#grille {
    display: block;
    margin: 50px auto;
    margin-left: auto;
    margin-right: auto;
    outline: black 2px solid;
}